.Form {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;

  input {
    font-size: 1rem;
    text-align: center;
  }

  button {
    margin-top: 10px;
    height: 38px;
    border-radius: 25px;
  }
}